PORT=3333
BASE_URL="http://localhost:3333"
NODE_ENVIRONMENT="development"
DATABASE_URL="postgresql://user:password@db:5432/db_name?schema=public"
JWT_SECRET_KEY="secret_key"


DATABASE_URL="postgresql://neondb_owner:npg_8RXYFDPw7HfE@ep-crimson-sea-acnznr0v-pooler.sa-east-1.aws.neon.tech/dwl_tech?sslmode=require&channel_binding=require"