PORT=3333
BASE_URL="http://localhost:3333"
NODE_ENVIRONMENT="development"
DATABASE_URL="postgresql://user:password@db:5432/db_name?schema=public"
JWT_SECRET_KEY="secret_key"
FRONTEND_URL=""
BACKEND_URL=""
# ==========================================
# 📧 CONFIGURAÇÕES DE E-MAIL (MAILTRAP)
# ==========================================
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=cole_aqui_o_seu_usuario
MAIL_PASS=cole_aqui_a_sua_senha
MAIL_FROM_EMAIL=suporte@dwldiagnostica.com.br
MAIL_FROM_NAME="Suporte DWL Diagnóstica"

# ==========================================
# 📧 CONFIGURAÇÕES DE E-MAIL (RESEND)
# ==========================================
MAIL_HOST=smtp.resend.com
MAIL_PORT=465
MAIL_USER=resend
MAIL_PASS=YOUR_API_KEY
MAIL_FROM_EMAIL=contato@rpgsistemas.com.br
MAIL_FROM_NAME="Suporte @rpg Sistemas"
